name: backend

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

env:
  PHP_EXTENSIONS: zip
  PHP_TOOLS: composer:v1
  PHP_EXTENSIONS_CACHE_KEY: php-extensions-cache-v1
  PHP_VERSION: '7.1'

jobs:
  lint-and-test:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false
    env:
      APP_ENV: test
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup php extensions cache
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: ${{ env.PHP_EXTENSIONS }}
          key: ${{ env.PHP_EXTENSIONS_CACHE_KEY }}

      - name: Cache php extensions
        uses: actions/cache@v4
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          tools: ${{ env.PHP_TOOLS }}
          ini-values: memory_limit=512M, short_open_tag=On
          coverage: none
          extensions: ${{ env.PHP_EXTENSIONS }}
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Display PHP information
        run: |
          php -v
          php -m
          composer --version

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}-composer
          restore-keys: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}-composer

      - name: Install dependencies
        run: composer install --no-interaction --no-suggest --no-scripts --prefer-dist --ansi

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Run Unit tests
        run: composer test --ansi
